In [1]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout
from tensorflow.keras.optimizers import Adam

In [2]:
dataset = pd.read_csv("avg_train.csv")
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,1010,434,1165,1567,907,1676,1159,1656,860,1095,...,955,992,451,1203,1005,1203,1058,1312,979,foot
1,1339,802,1536,1892,1131,1655,1541,1884,1189,1359,...,747,915,526,1063,1138,1369,1190,1464,1030,foot
2,1226,717,1404,1795,1137,1820,1586,1856,1064,1144,...,751,891,520,969,943,1135,971,1248,824,left
3,917,626,1356,1642,820,1514,1476,1690,871,1007,...,501,529,298,741,783,949,787,1110,705,foot
4,811,524,1205,1522,753,1376,1330,1517,678,950,...,612,490,311,527,765,909,718,987,569,foot

In [3]:
Y = dataset['59']
X = dataset.drop('59', axis = 1)

In [4]:
T_x = []
for i,r in X.iterrows():
    r = (r - r.min())/(r.max() - r.min())
    T_x.append(r)

T_x = np.array(T_x)

In [5]:
Y = pd.get_dummies(Y)
Y

      foot  left  right
0        1     0      0
1        1     0      0
2        0     1      0
3        1     0      0
4        1     0      0
...    ...   ...    ...
1395     0     1      0
1396     0     1      0
1397     0     1      0
1398     0     0      1
1399     0     0      1

[1400 rows x 3 columns]

In [6]:
#Y[Y=="left"]=0
#Y[Y=="right"]=1
#Y[Y=="foot"]=2
T_y = np.array(Y, dtype="int")
T_y

array([[1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       ...,
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1]])

In [7]:
X, X_test, Y, Y_test = train_test_split(T_x, T_y, test_size=0.2, shuffle=True)

In [13]:
def create_model():
    model = tf.keras.models.Sequential([])
    
#     model.add(Dense(512, activation="relu"))
    
#     model.add(Dense(512, activation="relu"))
    
#     model.add(Dropout(0.1))
#     model.add(BatchNormalization())
    
    model.add(Dense(256, activation="relu"))
    
    model.add(Dense(256, activation="relu"))
    
#     model.add(Dropout(0.1))
#     model.add(BatchNormalization())
    
    model.add(Dense(128, activation="relu"))
    
    model.add(Dense(128, activation="relu"))
    
#     model.add(Dropout(0.1))
#     model.add(BatchNormalization())
    
    model.add(Dense(64, activation="relu"))
    
    model.add(Dense(64, activation="relu"))
    
#     model.add(Dropout(0.1))
#     model.add(BatchNormalization())
    
    model.add(Dense(3, activation="softmax"))
    
    return model

In [17]:
my_model = create_model()

In [18]:
my_model.compile(optimizer=Adam(lr=0.001), loss="categorical_crossentropy", metrics=["accuracy"])

In [45]:
history = my_model.fit(X, Y, shuffle = True, epochs=5, verbose=2)

Epoch 1/5
35/35 - 0s - loss: 0.0404 - accuracy: 0.9875
Epoch 2/5
35/35 - 0s - loss: 0.0888 - accuracy: 0.9607
Epoch 3/5
35/35 - 0s - loss: 0.2235 - accuracy: 0.9116
Epoch 4/5
35/35 - 0s - loss: 0.1002 - accuracy: 0.9607
Epoch 5/5
35/35 - 0s - loss: 0.0326 - accuracy: 0.9911

In [46]:
loss, acc = my_model.evaluate(X_test, Y_test)

9/9 [==============================] - 0s 5ms/step - loss: 3.1058 - accuracy: 0.5464